parameters:
    level: 8
    excludes_analyse:
        - /app/vendor
        - /app/phpcs.bootstrap.php
        # Parameter #1 $error_handler of function set_error_handler expects (callable(int, string, string, int, array): bool)|null, array(class-string<static(PhpObject\Tests\PhpUnit\TestErrorHandler)>, 'onError') given.
        # Too hard to exclude it with ignoreErrors
        - /app/tests/phpunit/TestErrorHandler.php
    ignoreErrors:
        # I think new static() is a good way to instantiate self in static methods.
        # new self() will not take into account child classes.
        # https://www.php.net/manual/fr/language.oop5.late-static-bindings.php
        - "#^Unsafe usage of new static#"
includes:
    - /root/.composer/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /root/.composer/vendor/phpstan/phpstan-phpunit/extension.neon
    - /root/.composer/vendor/phpstan/phpstan-phpunit/rules.neon
